{% extends 'store/main.html' %} {% load static %} 
{% load humanize %}
{% block content %} 
<div id="contenedor_todo">
{% if object_list %}
<div class="container shadow p-2">
  <h1>Checkout</h1>
  <h2>Total <span class="text-success">$</span> <span id="checkout_total">{{checkoutValor|intcomma}}</span></h2>
</div>
<div class="shadow mt-4">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in object_list %}
      <tr id="item-{{p.id}}">
        <td>
          <a href="{% url 'detalle_product' p.product.id %}">
            <img class="row-image" src="{{p.product.photo.url}}" />
          </a>
        </td>
        <td><span>{{p.product.name|title}}</span></td>
        <td>
          <span>
            <span class="text-success">$</span>
            <span id="can-uni">{{p.product.price|intcomma}}</span>
          </span>
        </td>
        <td>
          <span id="product/{{p.id}}" class="quantity">{{p.cantidad}}</span>
          <div
            class="quantity flex-column"
            style="display: inline-flex !important"
          >
            <a id="{{p.id}}/aumentar" href="#" class="btnAccion"
              ><img
                class="chg-quantity"
                src="{% static 'images/arrow-up.png' %}"
            /></a>
            
            <a id="{{p.id}}/disminuir" href="#" class="btnAccion">
              <img
                class="chg-quantity"
                src="{% static 'images/arrow-down.png' %}"
              />
            </a>
            
          </div>
        </td>
        <td>
          <span class="text-success">$</span> <span id="total_product/{{p.id}}">{{p.total|intcomma}}</span>
        </td>
        <td>
          <a
            class="btn btn-danger btnAccion"
            id="{{p.id}}/eliminar"
            href="#"
            >Eliminar</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% else %}
<h2>No hay productos en el carrito</h2>
{% endif %} 
</div>
{% endblock content %} {% block js %}
<script>

/*$(document).ready(function () {
  //obtengo todos los links con esa clase
  $('.btnAccion').on("click", function (e) {
    //obtengo el boton o boton de link y le agrego el evento
      e.preventDefault(); //detengo el evento de irse a la url
      var id=$(this).attr("id").split("/");//obtengo el id del boton y lo parto entre la accion y el id del item
      var id_item = id[0] //cojo el id item que esta de primero
      var action=id[1]  //cojo la accion que esta de segunda
      // console.log(action)
      //se ejecuta cuando se entra a la pagina
      carritoAcciones(
        id_item, //le paso el id del item
        '{% url 'acciones_carrito' %}', //url a donde va la petición
        action //accion
        
        )
  })
  })*/

// js puro con chtgpt

document.addEventListener('DOMContentLoaded', function() {
  // Obtener todos los elementos con la clase "btnAccion"
  var botones = document.querySelectorAll('.btnAccion');
  
  botones.forEach(function(boton) {
    // Agregar un evento de clic a cada botón
    boton.addEventListener('click', function(e) {
      e.preventDefault(); // Detener la acción por defecto del botón
      
      // Obtener el ID del botón y dividirlo entre la acción y el ID del elemento
      var id = this.getAttribute('id').split('/');
      var id_item = id[0];
      var action = id[1];
      
      // Llamar a la función "carritoAcciones" con los argumentos apropiados
      carritoAcciones(id_item, '{% url "acciones_carrito" %}', action);
    });
  });
});

</script>
{% endblock js %}
