{% extends 'store/main.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="d-flex align-items-center flex-column">
  <h2>Iniciar sesión</h2>
  <form action="." method="post" class="d-flex align-items-center flex-column">
  {% csrf_token %} 
  {% for field in form.visible_fields %}
  <div class="row w-75">
    <label for="" class="form-label">{{field.label}}:</label>
    {{field|add_class:'form-control'}}
  </div>
  {% endfor %}
  
  
  <div class="row d-flex justify-content-between w-75 mt-2">
    <button class="btn btn-success" type="submit">Iniciar sesión</button>
  <a class="btn btn-danger" href="{% url 'store' %}">Cancelar</a>
  </div>
  
</form>
</div>

{% endblock content %}
