<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />
    <link
    rel="stylesheet"
    href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <title>{{title}}</title>
    <link rel="icon" href="{% static 'images/tienda.png' %}" />
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% include 'store/plt/navbar.html' %}
    <div class="container">
      <br />
      {% block content %} {% endblock content %}
    </div>

    <script
      src="{% static 'libs/bootstrap/js/popper.min.js' %}"
    ></script>

    <script
      src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"
      
    ></script>
    {% block js %}{% endblock js %}
  </body>
</html>
