{% extends 'store/main.html' %} {% load static %} {% block content %} 
{% if user.is_authenticated %}
<h1>Bienvenido {{user.username|title}}</h1>
{% endif %}
<div class="row">
  {% for product in object_list %}
  <div class="col-lg-4">
    <img class="thumbnail img-fluid" src="{{product.photo.url}}" />
    <div class="box-element product">
      <h4 {% if product.digital %} class="text-success" {% endif %}>
        <strong>{{product.name|title}}</strong>
      </h4>
      <hr />
      {% if user.is_authenticated %}
      <button
        id="{{product.id}}"
        data-product="{{product.id}}"
        data-action="add"
        class="btn btn-outline-secondary add-btn update-cart"
      >
        Agregar Carrito
      </button>
      {% endif %}
      
      <a class="btn btn-outline-success" href="{% url 'detalle_product' product.id %}">Ver</a>
      <h5 style="display: inline-block; float: right">
        <strong>${{product.price}}</strong>
      </h5>
    </div>
  </div>
  {% empty %}
  <h3>{{mesaje_busqueda}}</h3>
  {% endfor %}
</div>
{% endblock content %} {% block js %}
<script>
  $(document).ready(function () { //cargo la función cuando se carga el documento
    $(".add-btn").click(function () { //evento click
      var productId = $(this).data("product");//obtengo el id del producto
      var userId = {{user.id}}; //id del usuario
      var url = window.location.pathname; //a donde voy a mandar la soli
      fetch(url, {
        method: "POST", //metodo
        headers: {
          "Content-Type": "application/json", //si o si van estos 2 campos
          "X-CSRFToken": "{{ csrf_token }}",
        },
        body: JSON.stringify({//aqui van los datos a enviar
          product_id: productId,
          user_id: userId,
          action: "add_cart"
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          // Actualiar el carrito o mostrar un mensaje de éxito
          if(data['success']==false){
            alert('Error')
          }else{
location.href = "{{cart_url}}";//lo redirecciono a la vista del carrito
          }
          
        })
        .catch((error) => console.error(error));
    });
  });
</script>
{% endblock js %}
