{% extends 'store/main.html' %} {% load static %} {% block content %} 
{% if user.is_authenticated %}
<h1>Bienvenido {{user.username}}</h1>
{% endif %}
<div class="row">
  {% for product in object_list %}
  <div class="col-lg-4">
    <img class="thumbnail img-fluid" src="{{product.photo.url}}" />
    <div class="box-element product">
      <h4 {% if product.digital %} class="text-success" {% endif %}>
        <strong>{{product.name|title}}</strong>
      </h4>
      <hr />
      <button
      id="{{product.id}}"
        data-product="{{product.id}}"
        data-action="add"
        class="btn btn-outline-secondary add-btn update-cart"
      >
        Agregar Carrito
      </button>
      <a class="btn btn-outline-success" href="#">Ver</a>
      <h5 style="display: inline-block; float: right">
        <strong>${{product.price}}</strong>
      </h5>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
{% block js %}
<script>
$(document).ready(function(){
  $('.add-btn').click(function(){
    var productId = $(this).data('product');
    var userId = $(this).data('user');
    var url = window.location.pathname;

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({
        'product_id': productId,
        'user_id': userId,
        'action':'add_cart'
      })
    })
    .then(response => response.json())
    .then(data => {
      // Actualizar el carrito o mostrar un mensaje de éxito
      location.href = '{{cart_url}}'
    })
    .catch(error => console.error(error));
  });
});
</script>
{% endblock js %}
