{% extends 'store/main.html' %} 
{% load static %} 
{% load humanize %}
{% block content %} 
{% if user.is_authenticated %}
<h1>Bienvenido {{user.username|title}}</h1>
{% endif %}
<div class="row">
  {% for product in object_list %}
  <div class="col-lg-4">
    <img class="thumbnail img-fluid" src="{{product.photo.url}}" />
    <div class="box-element product">
      <h4 {% if product.digital %} class="text-success" {% endif %}>
        <strong>{{product.name|title}}</strong>
      </h4>
      <hr />
      {% if user.is_authenticated %}
        <a id="{{product.id}}/add_cart" href="#" class="btn btn-outline-secondary btnAccion">Agregar Carrito</a>
      {% endif %}
      
      <a class="btn btn-outline-success" href="{% url 'detalle_product' product.id %}">Ver</a>
      <h5 style="display: inline-block; float: right">
        <strong>${{product.price|intcomma}}</strong>
      </h5>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %} 

{% block js %}
<script>
{% if not object_list %}
  Swal.fire({
  title: 'No se encontró el producto',
  icon: 'question'
}).then((result) => { //con then recibo el resultado de lo que ponga el usuario, en este caso solo confirma pq solo esta ese boton
  if (result.isConfirmed) { //si lo confirma, lo redirecciono a la url store
    window.location.href = "{% url 'store' %}";
  }
});
{% else %}

$(document).ready(function () {
  //obtengo todos los links con esa clase
  $('.btnAccion').on("click", function (e) {
    //obtengo el boton o boton de link y le agrego el evento
      e.preventDefault(); //detengo el evento de irse a la url
      const csrftoken = $('[name=csrfmiddlewaretoken]').val(); // obtener el token CSRF del input escondido de la pagina
      var id=$(this).attr("id").split("/");//obtengo el id del boton y lo parto entre la accion y el id del item
      var id_item = id[0] //cojo el id del item que esta de primero
      var action=id[1]  //cojo la accion que esta de segunda
      // console.log(action)
      //se ejecuta cuando se entra a la pagina
      carritoAcciones(
        id_item, //le paso el id del item
        '{% url 'store' %}', //url a donde va la petición
        action, //accion
        '{{user.id}}', //id usuario
        csrftoken)//token de seguridad
  })
  })
  {% endif %}
  </script>

{% endblock js %}